
.history-title{
    color:#ffcc00;
	text-align: center;
	font-size: 30px;
}
table , th , td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    margin: 0 auto;
    line-height: 200%;
  }
tr{
    color:#ffcc00 ;
}