body{
    background-color: #252525;
}
.about-head{
    color: yellow;
    text-align: center;
    font-size: 250%;
    /* font-weight: bold; */
}
.content-about{
    color: whitesmoke;
    font-size: 120%;
    text-align: center;
    /* padding-left: 15%; */
}