body{
    background-color: #252525;
}

.about-head{
    color: whitesmoke;
    text-align: center;
    font-size: 250%;
    padding-bottom: -2em;
    display: inline-block;
    border-bottom: 2px solid #FF7B7B;
    margin-left: 42%;
    margin-bottom: 40px;
 
}


.content-about{
    color: wheat;
    font-size: 170%;
    font-style: italic;
    text-align: center;
}
.para{
    padding-left: 250px;
    padding-right: 250px;
    
}